Repository cfengine/core, pull requests merged in 2019-05, with the labels that each got.

#3631 LGTM: Query for dereferencing a pointer argument without NULL-comparison
  .lgtm/cpp-queries/missing-argument-null-check.c
  .lgtm/cpp-queries/missing-argument-null-check.qhelp
  .lgtm/cpp-queries/missing-argument-null-check.ql
Labels: lgtm

#3636 LGTM: Added query to detect bool functions which return non-bool values
  .lgtm/cpp-queries/function-returns-non-bool.qhelp
  .lgtm/cpp-queries/function-returns-non-bool.ql
Labels: lgtm

#3641 LGTM: Smaller tweaks to our existing queries / their documentation
  .lgtm/cpp-queries/bool-function-returns-non-bool.qhelp
  .lgtm/cpp-queries/bool-function-returns-non-bool.ql
  .lgtm/cpp-queries/missing-argument-null-check.c
  .lgtm/cpp-queries/non-bool-function-returns-bool-macro.qhelp
  .lgtm/cpp-queries/non-bool-function-returns-bool-macro.ql
  .lgtm/cpp-queries/non-bool-function-returns-bool-value.qhelp
  .lgtm/cpp-queries/non-bool-function-returns-bool-value.ql
Labels: lgtm

#3640 Use proper enum constant for true in expressions
  libpromises/eval_context.c
Labels: cherry-pick?, lgtm

#3644 LGTM: Unified all boolean return type checking
  .lgtm/cpp-queries/bool-function-returns-non-bool.ql
  .lgtm/cpp-queries/bool-type-mismatch-return.c
  .lgtm/cpp-queries/bool-type-mismatch-return.qhelp
  .lgtm/cpp-queries/bool-type-mismatch-return.ql
  .lgtm/cpp-queries/non-bool-function-returns-bool-macro.qhelp
  .lgtm/cpp-queries/non-bool-function-returns-bool-macro.ql
  .lgtm/cpp-queries/non-bool-function-returns-bool-value.qhelp
  .lgtm/cpp-queries/non-bool-function-returns-bool-value.ql
Labels: lgtm

#3643 Changed several functions to respect bool type
  cf-agent/files_editline.c
  cf-agent/files_select.c
  cf-agent/files_select.h
  cf-agent/retcode.c
  cf-agent/retcode.h
  cf-agent/verify_databases.c
  cf-agent/verify_files_utils.c
  cf-agent/verify_files_utils.h
  cf-serverd/server_classic.c
  cf-serverd/server_classic.h
  cf-serverd/server_common.c
  cf-serverd/server_common.h
  libpromises/eval_context.c
  libpromises/files_lib.c
  libpromises/files_lib.h
Labels: cherry-pick?, lgtm

#3646 Changed several functions to respect bool type (3.12)
  cf-agent/files_editline.c
  cf-agent/files_select.c
  cf-agent/files_select.h
  cf-agent/retcode.c
  cf-agent/retcode.h
  cf-agent/verify_databases.c
  cf-agent/verify_files_utils.c
  cf-agent/verify_files_utils.h
  cf-serverd/server_classic.c
  cf-serverd/server_classic.h
  cf-serverd/server_common.c
  cf-serverd/server_common.h
  libpromises/eval_context.c
  libpromises/files_lib.c
  libpromises/files_lib.h
Labels: lgtm

#3647 LGTM: Fixed XML in qhelp file
  .lgtm/cpp-queries/bool-type-mismatch-return.qhelp
Labels: lgtm

#3648 LGTM: Removed problematic & in qhelp
  .lgtm/cpp-queries/bool-type-mismatch-return.qhelp
Labels: lgtm

#3658 LGTM: Removed code tag not allowed inside a tag in qhelp
  .lgtm/cpp-queries/bool-type-mismatch-return.qhelp
Labels: lgtm

#3656 CFE-3047: Fix crash when calling string_split on something long
  libpromises/rlist.c
  tests/acceptance/01_vars/02_functions/string_split_2k_variable.cf
Labels: cherry-pick?

#3660 Only use 'cmp_to_key' in determine_version if it exists
  misc/determine-version.py
Labels: cherry-pick?

#3663 Cleanup of functions which should return bool
  cf-agent/cf-agent.c
  cf-agent/files_editline.c
  cf-agent/files_editline.h
  cf-serverd/server_tls.c
  cf-serverd/server_transform.c
  libutils/file_lib.c
  libutils/file_lib.h
  libutils/string_lib.c
  libutils/string_lib.h
Labels: lgtm

#3686 Changed return type of several functions to be bool
  cf-agent/files_editline.c
  cf-agent/verify_packages.c
  cf-agent/verify_packages.h
  libpromises/processes_select.c
  libpromises/processes_select.h
Labels: cherry-pick?, lgtm
